.deconnecter {
    position: relative;
    margin-top: 2vw;
    margin-left: 5vw;
}

.h1Admin {
    position: relative;
    margin-left: 5vw;
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}

img {
    position: absolute;
}

.tableau {
    margin-left: 1vw;
    margin-top: 5vw;
}

.fondText {
    position: absolute;
    width: 41vw;
    height: 20vw;
    background-color: rgba(149, 149, 151, 0.8);
    margin-top: 0.5vw;
    margin-left: 28vw;
    border-radius: 1vw;
}