label {
    color: rgb(31, 97, 36);
}

b-form {
    height: 30vw;
}

.boutonFormulaire {
    color: rgb(31, 97, 36);
}

.formulaire {
    position: absolute;
    width: 24vw;
    border: 3px solid #006400;
    background-color: rgba(149, 149, 151, 0.8);
    padding: 30px;
    border-radius: 26px;
    margin-top: 34vw;
    margin-left: 58vw;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 156, 68);
    font-size: 4vw;
}

h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 156, 68);
    font-size: 1vw;
    text-align: center;
}