.formulaire label {
    color: rgb(31, 97, 36);
}



.boutonFormulaire {
    color: rgb(31, 97, 36);
}

.formulaire {
    position: absolute;
    width: 30vw;
    height: 36vw;
    border: 1px solid #006400;
    background-color: rgba(236, 238, 236, 0.616);
    padding: 8px;
    border-radius: 8px;
    margin-left: -250px;
    margin-top: 3vw;

}

.formulaire h4 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 156, 68);
    font-size: 3vw;
}

.formulaire h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 156, 68);
    font-size: 1vw;
    text-align: center;
}