.pourquoiText p {
    font-size: 1vw;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 15vw;
    margin-left: 55vw;
    width: 40vw;
}

.pourquoiText h4 {
    position: absolute;
    margin-top: 12vw;
    margin-left: 55vw;
}